<% include header.ejs %>
<style>
  .jumbotron{background:#fff;color:#333;}
</style>
<div class="container main">
	<div class="jumbotron">
  <h1>欢迎使用日记本!</h1>
  <p>记得保持每天记日记的好习惯哦！</p>
  <p>
  	<a class="btn btn-primary btn-lg" href="/diary/write" role="button">写日记</a>
  	<a class="btn btn-warning btn-lg" href="/diary/manage" role="button">管理日记</a>
  </p>
</div>
</div>
<% include footer.ejs %>